// Button on the right bottom
.fixed-action-btn
    a.btn-floating.btn-large.red
        i.large.material-icons mode_edit
    ul
        li
            a.btn-floating.yellow.darken-1(href='/images')
                i.material-icons border_all
        li
            a.btn-floating.green(href='/authors')
                i.material-icons group
        li
            a.btn-floating.blue(href='/create-image')
                i.material-icons add
footer.page-footer.green
    .footer-copyright
        .container
            a.grey-text.text-lighten-4.left(href='https://github.com/00010600/Web-CW2-00010600') GitHub Account
            span.right &copy; ID: 00010600
