nav.header.green
    .nav-wrapper
        a.brand-logo(href='/')
            img.responsive-img(src='/static/images/logo.jpg' alt='logo')
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a(href='/')
                    img(src='/static/images/home-icon.svg' alt='')
                    | Home
            li
                a(href='/create-image')
                    img(src='/static/images/add-icon.svg' alt='')
                    | Create
            li
                a(href='/images')
                    img(src='/static/images/all-icon.svg' alt='')
                    | All images
            li
                a(href='/authors')
                    img(src='/static/images/authors-icon.svg' alt='')
                    | Authors